{% extends "codingchallenge/base.html" %}

{% block content %}

<h1>Choose 3 Categories</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'codingchallenge:choose'%}" method="get">
{% csrf_token %}
{% for category in categories %}
    <input type="checkbox" name="category" id="choice{{ forloop.counter }}" value="{{ category.id }}" />
    <label for="choice{{ forloop.counter }}">{{ category.name }}</label><br />
{% endfor %}
<input type="submit" value="Choose" />
</form>

{% endblock %}